.kazemaru {
  @apply text-xl md:text-3xl;
}

.header-container {
  @apply py-10 px-10 flex items-center justify-between relative;
}

.header-button {
  @apply flex items-center md:hidden;
}

.header-icon {
  color: var(--text-primary-color);
  @apply text-2xl;
}

.header-menu {
  background-color: var(--background-container);
  border: var(--border-container);
  @apply right-8 -bottom-16 rounded p-5 absolute z-10;
}

.header-menu ul {
  @apply flex flex-col;
}

.header-menu li {
  color: var(--text-primary-color);
  @apply text-sm flex items-center gap-3 hover:cursor-pointer;
}

/* Header nav */
.header-nav ul {
  @apply flex gap-4;
}

.header-nav li {
  color: var(--text-primary-color);
  @apply text-base flex items-center gap-1 md:gap-2 hover:cursor-pointer;
}

.header-nav li:hover > .menu-icon,
.header-menu li:hover > .menu-icon {
  opacity: 0.9;
}

.menu-icon {
  color: var(--text-primary-color);
  @apply md:text-2xl;
}

@media screen and (min-width: 600px) {
  .header-menu {
    @apply hidden;
  }

  .header-nav {
    @apply flex;
  }
}
