<div [id]="project.projectid" class="project-thumb" [style]="{ backgroundColor: project.status.backgroundcolor, color: project.status.namecolor }">
  <header>
    <div class="flex justify-between">
      <div class="flex flex-col">
        <span class="name">{{ project.name }}</span>
        <span class="desc">{{ project.description !== '' ? project.description : 'without description.' }}</span>
      </div>

      <div class="project-status" [style]="{ backgroundColor: project.status.backgroundcolor, border: '1px solid ' + project.status.namecolor }">
        {{ project.status.name }}
      </div>
    </div>

    <div class="tags-container">
      @for (tag of project.tags; track $index) {
        <span class="tag">{{ tag.name }}</span>
      }
    </div>
  </header>

  <footer [style]="{ borderTop: '1px solid ' + project.status.namecolor }">
    <div>
      <div>
        <ng-icon name="tablerClockPlay"/>
        <span>{{ project.createdat }}</span>
      </div>

      <div>
        <ng-icon name="tablerClockShare"/>
        <span>{{ project.updatedat }}</span>
      </div>
    </div>
  </footer>
</div>