.project-thumb {
  position: relative;
  @apply hover:cursor-pointer rounded-lg rounded-b-3xl flex flex-col;
}

.project-thumb:hover > header {
  @apply h-56 md:h-72;
}

header {
  transition-duration: 200ms;
  @apply h-44 md:h-60 py-10 px-5 md:px-10 flex flex-col hover:pb-12 rounded-b-xl;
}

.name {
  @apply text-lg md:text-2xl font-semibold text-white;
}

.desc {
  @apply text-sm md:text-base text-white;
}

.tags-container {
  @apply flex flex-wrap mt-2 gap-1;
}

.tag {
  @apply bg-zinc-700/30 text-zinc-500/70 py-1 px-3 rounded;
}

footer {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.03) 5%,
    rgba(255, 255, 255, 0.03)
  );
  @apply absolute w-full bottom-0 shadow rounded-b-xl p-5 md:p-7 md:px-10 text-zinc-400 text-xs md:text-base;
}

.footer-data {
  @apply flex flex-col md:flex-row md:gap-3 gap-1;
}

.footer-data div {
  @apply flex justify-center md:justify-between items-center gap-2;
}
