<div [id]="project.projectid" class="project-thumb relative" [routerLink]="['/project', project.projectid]">
  <header [style]='{ background: lib.projectBanner(this.project.banner, "linear-gradient(to bottom, rgba(9, 9, 11, 0.2), rgba(9, 9, 11))"), backgroundSize: "cover" }'>
    <div class="flex justify-between">
      <div class="flex flex-col">
        <span class="name">{{ project.name }}</span>
        <span class="desc">{{ project.description !== '' ? project.description : 'without description.' }}</span>
      </div>

      <app-project-status [projectStatus]="project.status"/>
    </div>

    <div class="tags-container">
      @for (tag of project.tags; track $index) {
        <span class="tag">{{ tag.name }}</span>
      }
    </div>
  </header>

  <footer>
    <div class="footer-data">
      <div>
        <ng-icon name="tablerClockPlay" class="icon"/>
        <span>{{ project.createdat }}</span>
      </div>

      <div>
        <ng-icon name="tablerClockShare" class="icon"/>
        <span>{{ project.updatedat }}</span>
      </div>
    </div>
  </footer>
</div>