<main>
  <div class="page-container">
    <div class="page-content-wbg relative">
      <form class="form" [formGroup]="form" (ngSubmit)="onLogin()">
        <header class="form-header">
          <div>
            <h1 class="title">Enter your credentials</h1>
            <p class="para">
              You are just one step away from managing
              <span class="marked">your projects</span> in the best possible
              way.
            </p>
          </div>
        </header>

        <div class="form-main">
          <input
            class="input"
            placeholder="amazinguser"
            formControlName="username"
          />
          <input
            class="input"
            type="password"
            placeholder="************"
            formControlName="password"
          />
          <span class="link self-end">Forgot your password?</span>
        </div>

        <footer class="form-footer">
          <button [disabled]="!form.valid" class="button button-secondary">
            <ng-icon class="icon" name="tablerBolt" />
            Take me there
          </button>
        </footer>
      </form>
    </div>
  </div>
</main>
