<main>
  <div class="page-container">
    
    <div class="page-content">
      <header class="page-content-header">
        <h2>Create a project</h2>
      </header>

      <div class="page-content-main flex flex-col gap-6">
        <div class="flex flex-col md:flex-row gap-4">
          <label class="label">
            Project name
            <input required class="input" type="text" placeholder="A project">
          </label>
  
          <label class="label">
            Project description
            <input class="input" type="text" placeholder="A description.">
          </label>
  
          <label class="label">
            Project status
            <input required class="input" type="text" placeholder="Unstarted">
          </label>
        </div>

        <div class="md:self-end mt-5">
          <button class="button button-default w-full md:w-max">
            <ng-icon name="tablerDeviceGamepad"/>
            Finish
          </button>
        </div>
      </div>
    </div>
  </div>
</main>