@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*,
*::after,
*::before {
  font-family: 'Quicksand', sans-serif;
}

body {
  background: linear-gradient(to bottom, rgba(0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c34bd178-74e0-4f45-8e9d-497d7fe05067/ddosqy8-68489511-9d8d-4dec-af2d-35fb1dae7d5a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MzNGJkMTc4LTc0ZTAtNGY0NS04ZTlkLTQ5N2Q3ZmUwNTA2N1wvZGRvc3F5OC02ODQ4OTUxMS05ZDhkLTRkZWMtYWYyZC0zNWZiMWRhZTdkNWEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.kevRCdfYrEyZ-deuG_HgDF9OAwtxbK_MvkxBJ7T8Wjg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-black;
}

::-webkit-scrollbar-button {
  @apply h-0;
}

::-webkit-scrollbar-thumb {
  @apply bg-red-600 rounded-md;
}

main {
  @apply flex justify-center mb-10;
}

.page-container {
  @apply px-5 max-w-[1240px] w-full pt-32;
}

.page-content {
  @apply bg-zinc-950/95 mt-4 rounded-xl border-2 border-zinc-900/40;
}

.page-content-header {
  @apply px-5 md:px-10 py-5 md:pt-10 pb-2 flex justify-between items-center;
}

.page-content-main {
  @apply px-5 py-3 pb-7 md:px-10 md:py-5 md:pb-10;
}

.label {
  @apply flex flex-col text-zinc-500 gap-2 w-full;
}

.input {
  @apply px-3 py-4 bg-zinc-950 border-b-2 border-zinc-400/25 outline-none focus:border-zinc-700/50 text-zinc-500 placeholder:text-zinc-700/50;
}

.button {
  @apply py-3 px-12 flex items-center gap-4 justify-center
  hover:opacity-90
  active:opacity-75;
}

.button-sm {
  @apply py-2 px-6 flex items-center gap-4 justify-center
  hover:opacity-90
  active:opacity-75;
}

.button-default {
  @apply bg-zinc-950 border-2 border-zinc-700/20 text-zinc-400 text-lg
  disabled:opacity-10;
}

.para {
  @apply text-zinc-400;
}

.kazemaru {
  @apply text-red-500;
}

h2 {
  @apply text-zinc-400 text-3xl;
}
