@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  font-family: 'Poppins', sans-serif;
}

.background {
  position: fixed;
  width: 100%;
  z-index: -100;
  background: linear-gradient(to bottom, rgba(0, 0, 0), rgba(0, 0, 0, 0.1)),
    url('https://images5.alphacoders.com/852/thumb-1920-852051.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-black;
}

::-webkit-scrollbar-button {
  @apply h-0;
}

::-webkit-scrollbar-thumb {
  @apply bg-red-600 rounded-md;
}

router-outlet {
  display: none;
}

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
}

main {
  @apply h-full flex flex-col items-center mb-10;
}

.page-container {
  @apply h-full px-5 max-w-[1240px] w-full;
}

.page-content {
  @apply bg-zinc-950 mt-4 rounded-xl border-2 border-zinc-900/40;
}

.page-content-header {
  @apply px-5 md:px-10 py-5 md:pt-8 pb-2 flex justify-between items-center;
}

.page-content-main {
  @apply px-5 py-3 pb-7 md:px-10 md:py-5 md:pb-10;
}

.label {
  @apply flex flex-col text-zinc-100 font-semibold gap-2 w-full;
}

.input {
  @apply text-sm md:text-base font-light px-3 py-4 bg-zinc-950 border-b-2 border-zinc-400/25 outline-none focus:border-zinc-700/50 text-zinc-300 placeholder:text-zinc-400/50;
}

.button {
  @apply py-3 px-12 flex items-center gap-4 justify-center
  hover:opacity-90
  active:opacity-75;
}

.button-sm {
  @apply py-2 px-6 flex items-center gap-4 justify-center
  hover:opacity-90
  active:opacity-75;
}

.button-default {
  @apply bg-zinc-950 border-2 border-zinc-700/20 text-zinc-400 text-lg
  disabled:opacity-10;
}

.icon {
  @apply text-base md:text-xl text-zinc-400;
}

.para {
  @apply text-zinc-300;
}

.kazemaru {
  @apply font-semibold text-red-500;
}

h2 {
  @apply text-zinc-100 text-3xl font-bold;
}

.m-hide {
  @apply hidden md:flex;
}
